{% extends "layout.html" %}

<!--
<body id="page-ideias">
<title>Ideias - Casa Criativa</title>
-->

{% set bodyId = "page-ideias" %}

{% block title %}
      <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

<header>
      <a href="/">
         <img src="/logo.png" alt="Imagem da Marca"> 
      </a>
      <nav>
            <li><a href="/">Início</a></li>
            <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
      </nav>
</header>

<section id= "title">
   <p>em exibição</p>
   <h1>Ideias</h1>
</section>
<main>
   <section id="ideias">
      {% include "allideias.html" %}
</section>
   
</main>
<footer>
   Com 💝 <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>
</footer>

{% endblock %}